# dependencies
/node_modules
/.pnp
.pnp.js

# local env files

/src/public/main/*.jpg
/src/public/secondary/*.jpg
/src/public/main/*.png
/src/public/secondary/*.png
/src/public/main/*.jpeg
/src/public/secondary/*.jpeg