.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: calc(100vh - 450px);
  align-items: center;
}

.title{
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 35px;
  width: 1000px;
  max-width: 70vw;
}



.div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  margin-top: 90px;

}
.div button{
  width: 150px;
  height: 40px;
  border: 1px solid var(--light-green);
  border-radius: 5px;
  margin-top: 20px;
  font-weight: 600px;
  font-size: 14px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--light-green);
}

.div h1{
  margin-bottom: 50px;
}

.div button:hover{
  background-color: var(--strong-green);
}
.card {
  display: flex;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: relative;
  width: 1000px;
  max-width: 100%;
  max-width: 70vw;
  margin-bottom: 20px;
}
.card:hover{
  cursor: pointer;
}
.card div{
  margin-left: 20px;
  margin-top: 20px;
}
.card h1{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px;
}
.card >p{
  position: absolute;
  right: 30px;
  top: 50px;
  color: var(--light-green);
  font-weight: bold;
  font-size: 20px;
}

.card button{
  width: 100px;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

.Mycard {
  display: flex;
  border: 1px solid var(--black);
  border-radius: 5px;
  position: relative;
  width: 1000px;
  max-width: 55vw;
  margin-bottom: 20px;
}
.Mycard div{
  margin-left: 20px;
  margin-top: 20px;
}
.Mycard h1{
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 50px;
}
.Mycard >p{
  position: absolute;
  right: 30px;
  top: 50px;
  color: var(--light-green);
  font-weight: bold;
  font-size: 20px;
}

.Mycard button{
  width: 100px;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
}

.button_adm {
  position: absolute;
  right: 30px;
  top: 90px;
  background-color: var(--light-green);
  width: 100px;
  border: 0px;
  font-weight: bold;
  border-radius: 5px;
  height: 40px;
}

.button-adm:hover{
  background-color: var(--strong-green);
  cursor: pointer;
}





.delete {
  background-color: var(--strong-red) ;
}

.delete:hover {
  background-color: var(--light-red);
}

.sidebar{
    display: none;
}
.mobileCard{
  display: none;
}
.MymobileCard{
  display: none;
}


.delete{
  position: absolute;
  top:90px;
  right: 30px;
}
@media (max-width: 800px) {
    .header {
      display: none;
    }
  
    .sidebar {
      display: flex;
    }
    .cards {
      display: none;
  }
  .mobileCard{
    display: flex;
    flex-direction: column;
  }
  .mobileCard>div{
    border: 1px solid var(--black);
    border-radius: 5px;
  }
  .MymobileCard{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    align-items: center;
  }
  
  .mobileCard>div{
    border: 1px solid var(--black);
    border-radius: 5px;
  }
  .div h1{
    font-size: 25px;
  }
}