.desktop {
  display: flex;
  width: 100vw;
  max-width: 1500px ;
  max-height: 600px;
}

.desktop img {
  max-height: 600px;
  object-fit: cover;
}

.mobile {
  display: none;
  
}


@media (max-width: 480px) {
  .mobile {
    display: flex;
  }
  
  .desktop {
    display: none;
  }
}