.section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section section {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-left: 5px;
  justify-content: center;
}
.section h2{

  margin: 0px;
}

.section section:hover {
  color: var(--veryDarkYellow);
}

.block {
  display: flex;
  flex-direction: column;
}

.p1{
  font-weight: 600;
}

@media (min-width:800px) {
  .section{
    margin-bottom: 20px;
  }
}
