.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1235px;
}


.banner {
  width: 1235px;
  max-width: 80vw;
}

.banner_mobile {
  display: none;
  width: 80vw;
  height: 80vw;
}

.sidebar {
  display: none;
}

.carousel {
  margin-top: 40px;
  display: flex;
  width: 1235px;
  max-width: 80vw;
  overflow-x: scroll;
}

.locationsCard{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-right: 20px;
  width: 200px;
  margin-bottom: 20px;
  border: 1px solid var(--white); 
}

.locationsCard p{
  font-size: 20px;
  margin-bottom: 30px;
}
.locationsCard p:nth-child(4){
  font-weight: bold;
}

.locationsCard h2{
  font-size: 16px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 30px;
}
.locationsCard button{
  background-color: var(--light-green);
  border:0px;
  border-radius: 3px;
  height: 40px;
  width: 100px;
  font-weight: bold;
  margin-bottom: 5px;
}

.locationsCard button:hover{
  cursor: pointer;
  background-color: var(--strong-green);

}
.locationsCard:hover{
  cursor: pointer;
  border: 1px solid var(--black); 
  transition: all 5ms;
}

@media (max-width:800px) {
  .locationsCardPersonal{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-right: 20px;
    width: 200px;
    margin-bottom: 20px;
    border: 1px solid var(--black); 
  }
  
  .locationsCardPersonal p{
    font-size: 20px;
    margin-bottom: 20px;
  }
  .locationsCardPersonal p:nth-child(4){
    font-weight: bold;
  }
  
  .locationsCardPersonal h2{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .locationsCardPersonal button{
    border:0px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    font-weight: bold;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .delete{
    background-color: var(--light-red);
  }
  .delete:hover{
    background-color: var(--strong-red);
  }
  .update{
    background-color: var(--darkYellow);
  }
  .update:hover{
    background-color: var(--veryDarkYellow);
  }
}


























.carousel > .div > img, .carousel > .div > p, .carousel > .div > h2, .carousel > .div > button{
  flex: 0 0 auto;
  width: 100%;
}

@media (min-width:800px) and (max-width: 1000px) {
  .banner {
    height: 250px;
  }

  .logo2 {
    width: 250px;
    height: 50px;
  }
}

@media (max-width: 800px) {
  .header {
    display: none;
  }

  .sidebar {
    display: flex;
  }

  .banner {
    display: none;
  }

  .banner_mobile {
    display: flex;
    margin-top: 20px;
    width: 90vw;
    height: 90vw;
  }

}