.sidebar{
    display: none;
}
.container{
  display: flex;
  padding-top: 20px;
}
.allImages{
  display: flex;
}
.allImages>img{
  margin-top: 20px;
  width: 40vw;
  height: 40vw;
}
.images{
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 5vw;
  height: 40vw;
  width: 15vw;
  overflow-y: scroll;
  overflow-x: hidden;
}
.images img{
  margin-right:20px;
  margin-bottom:20px;
  width: 14vw;
  min-height: 14vw;
  
}

.images img:hover{
  cursor: pointer;
}

.button{
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  
}
.button button{
  max-width: 130px;
  color: var(--white);
}
.button button:nth-child(2):hover{
  background-color: var(--strong-red);
}
.button button:nth-child(2){
  background-color: red;
}
.info{
display: flex;
flex-direction: column;
text-align: center;
margin-top: 60px;
margin-left: 30px;
width: 400px;
}
.info>h1{
  position: relative;
}
.info>h1 svg{
font-size: 20px;
position: absolute;
right: 0px;
top: 6px;
}
.info>h1 svg:hover{
  cursor: pointer;
  }

.modalUserInfo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
@media (max-width:1125px) {
  .info{
    width: 350px;
    }
}
@media (max-width:990px) {
  .info{
    width: 320px;
    }
}
.modalUser{
  background-color: var(--gray-light);
  position: fixed;
  top:calc(50% - 100px);
  left: calc(50% - 160px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid var(--black);
  height: fit-content;
  padding: 10px 5px ;
  z-index: 1;
}
.modalUser p{
  margin: 5px 0px;
  font-size: 20px;

}
.modalUser h1{
  margin-bottom: 15px;
}
.modalButton{
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.info h1{
  font-size: 30px;
  font-weight: bold;
}
.specifications div:nth-child(odd){
  height: 40px;
  background-color: var(--strong-gray);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 18px;
}
.specifications div:nth-child(even){
  height: 40px;
  background-color: var(--gray-light);
  display: flex;
  align-items: center;
  padding: 0px 20px;
  font-size: 18px;
}
.specifications div:first-child{
  height: 45px;
  background-color: var(--darkYellow);
  margin-top: 50px;
  display: flex;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 20px;
}
.specifications div:nth-child(10){
  height: 45px;
  background-color: var(--darkYellow);
  display: flex;
  padding: 0px 20px;
  font-weight: 700;
  font-size: 20px;
}

.specifications > p{
  flex-wrap: wrap;
  width: 400px;
  max-width: 100%;
  padding: 10px 20px;
  background-color: var(--strong-gray); 
  text-align: center;
}

.specifications{
  text-align: justify;
  width: 400px;
  max-width: 100%;
  position: relative;
}
.specifications p{
  word-wrap: break-word;
}

.specifications p{
  text-align:left;
  word-break: break-all;
}
.info button{
  background-color: rgb(10, 231, 10);
  border: 0px;
  border-radius: 5px;
  width: 200px;
  height: 40px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info a{
  margin-top: 30px;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info svg{
  margin-left: 10px;
}
.info button:hover{
  background-color: rgb(9, 181, 9);
  cursor: pointer;
}
.info>p:nth-child(3){
  margin-top: 30px;
  color:green;
  font-size: 25px;
  font-weight: bold;
}
.delete{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.delete button{
  background-color: var(--strong-red);
  color: white;
}
.delete button:hover{
  background-color: var(--light-red);
}
.share{
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 0px !important;
  padding: 0px !important;
  background-color: var(--white) !important;
  width: 180px;
  height:40px !important;
}
.share button{
  width: 40px;
  height: 40px;
  background-color: var(--light-green);
  margin: 0px;
  margin-left: 5px;
  margin-top: 5px;
}
.share button:first-child{
  background-color: #1D9BF0;
}
.share button:first-child:hover{
  background-color: #1489d6;
}
.share button:nth-child(2){
  background-color: #D64E42;
}
.share button:nth-child(2):hover{
  background-color: #c73426;
}
.share button:nth-child(3){
  background-color: #1877F2;
}
.share button:nth-child(3):hover{
  background-color: #1166d6;
}
.share button:nth-child(4){
  background-color: #25D366;
}
.share button:nth-child(4):hover{
  background-color: #1bb453;
}
.share button svg{
  font-size: 17px;
  margin: 0px;
  color: var(--white);
}
@media (min-width: 930px) {
  .images::-webkit-scrollbar {
    width: 10px;               /* width of the entire scrollbar */
  }
  
  .images::-webkit-scrollbar-track {
    background: var(--black);        /* color of the tracking area */
  }
  
  .images::-webkit-scrollbar-thumb {
    background-color: var(--yellow);    /* color of the scroll thumb */
    border: 3px solid var(--black);  /* creates padding around scroll thumb */
  }
  .images img{
    max-height: 14vw;
    
  }
}

@media (max-width:930px) {
  .container{
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .allImages>img{
    width: 70vw;
    height: 70vw;
  }
  .allImages{
    flex-direction: column;
  }
  .images{
    flex-direction: row;
    width: 70vw;
    height: 24vw;
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .images>img{
    width: 20vw;
    height: 20vw;
  }
  
}


@media (max-width: 800px) {
    .header {
      display: none;
    }
  
    .sidebar {
      display: flex;
    }
    
}

@media (max-width: 600px) {
  .allImages>img{
    width: 85vw;
    height: 85vw;
  }
  .images{
    flex-direction: row;
    width: 85vw;
    height: 30vw;
  }
  .images>img{
    width: 30vw;
    height: 30vw;
  }
}

@media (max-width: 470px) {
.info{
  width: 100%;
  margin: 0px;
  padding: 20px;
  text-align: center;
}
.specifications{
  width: 95%;
}
}