.header{
    background-color: var(--black);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header svg{
    color: var(--white);
    font-size: 45px;
    position: absolute;
    left: 10px;
    bottom: -50%;
    margin-bottom: 130px;

}

.aside{
    background-color: var(--darkYellow);
    width: 80vw;
    height: 100vh;
    position:fixed;
    z-index: 1;
}

.options{
    color: var(--black);
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    background-color: var(--darkYellow);
    border:0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register{
    color: var(--darkYellow);
    font-family: 'Droid Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-right: 20px;
    background-color: var(--black);
    border:0px;
    border-radius: 3px;
    height: 40px;
}

