
.father {
  width: 100%;
}

.father h1 {
  font-size: 24px;
  font-weight: 500;
  margin-top: 10px;
}

.father form {
  width: 100%;
  display:  flex;
  flex-direction: column;
  padding: 15px;
}

.father section {
  display: flex;
  width: 100%;
}
.p{
  font-size:15px;
  color: var(--light-red);
  font-weight:600;
  margin-bottom: 5px;
}
.first input::-webkit-outer-spin-button,
.first input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.space{
  height: 10px;
}
.father div {
  margin-right: 20px;
}
.input{
  margin-top: 10px;
}
.father input, .father select{
  width:100%;
  padding: 10px 15px;
  font-size:20px;
  outline:0px;
  border: none;
  border: 1px solid var(--black);
  border-radius:3px;
}

.father p{
  margin-bottom: 5px;
}

.father form textarea {
  max-width: 100%;
  width: 100%;
  min-width: 100%;
  outline: none;
  max-height: 100px;
}

.father form button {
  background-color: var(--strong-green);
  border: none;
  color: var(--white);
  border-radius: 5px;
  padding: 15px;
  cursor: pointer;
  width: 95%;
  font-size: 20px;
  max-width: 280px;
  font-weight: 500 ;
  align-self: flex-start;
  margin-top: 20px;
}

.father form button:hover {
  background-color: var(--light-green);
}

.father h2{
  margin-bottom: 6px;
  margin-top: 4px;
}

.first {
  width: 60%;
}

.second {
  width: 35%;
}

@media (max-width: 1100px) {
  .father {
    width: 60%;
  }

  .father form button {
    align-self: center;
  }
  
  .father section {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .first {
    width: 95%;
  }

  .second {
    width: 95%;
  }

  .father textarea {
    max-width: 100%;
  }

}

@media (max-width: 800px) {
  .father{
    margin-top: 60px;
    width: 100%;
  }

  .father form section {
    align-items: center;
  }

  .father h1 {
    margin-left: 15px;
    margin-top: 40px;
  }

  .father div {
    margin-right: 0px;
  }
}