
.father {
  display: flex;
  align-items: center;
  margin: 100px auto;
  width: 80%;
  min-height: calc(100vh - 600px);
}

@media (max-width: 1300px) {
  .father {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .father {
    width: 100%;
    margin: 0px;
    flex-direction: column;
    position: relative;
  }
}

.sidebar{
  display: none;
}

@media (max-width: 800px) {
  .header {
    display: none;
  }

  .sidebar {
    display: flex;
  }
}